* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

.clear {
    clear: both;
}

#main {

}

#header {
    height: 46.5px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.nav {
    display: inline-block;
}

.nav , .subnav {
    list-style-type: none;
}

.nav > li {
    display: inline-block;
}

.nav li {
    position: relative;
}

.nav > li > a {
    color: white;
    text-transform: uppercase;
}

.nav li a {   
    text-decoration: none;
    line-height: 46.5px;
    padding: 0 24px;
    font-size: 15px;
    display: block;
}

.subnav li:hover a,
.nav > li:hover > a {
    background-color: #ccc;
    color: black;
}

.nav .subnav {
    display: none;
    position: absolute;
    min-width: 160px;
    background-color: white;
    box-shadow: 0 0 5px black;
    top: 100%;
    left: 0%;
}

.subnav li a {
    color: black;
    padding: 0 16px;
    line-height: 38.5px;
}

.nav li:hover .subnav {
    display: block;
}

.nav .more-down-icon {
    font-size: 12px;
    font-weight: 700;
}

#header .search-btn {
    float: right;
    padding: 0 24px;
}

#header .search-btn:hover {
    background-color: #f44336;
    cursor: pointer;
}

.search-btn .search-button {
    color: white;
    line-height: 46.5px;
    font-size: 14px;    
    font-weight: bolder;
}

#slider {
    margin-top: 46.5px;
}

#slider .slider-content {
    position: relative;
}

.slider-content img {
    width: 100%;
}

.slider-content .text-slider {
    position: absolute;
    bottom: 48px;
    text-align: center;
    left: 0;
    right: 0;
    color: white;
}

.text-slider .heading-slider {
    font-size: 24px;
    font-weight: 500;
}

.text-slider .sub-heading-slider {
    margin-top: 25px;
    font-size: 15px;
    font-weight: 600;
}

#content {

}

#content .content-section {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
}

.content-section .content-heading {
    margin-top: 84px;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 4px;
}

.content-section .sub-content-heading {
    margin-top: 25px;
    text-align: center;
    font-style: italic;
    color: rgba(0, 0, 0, 0.5);
}

.content-section .content-desc {
    margin-top: 20px;
    text-align: justify;
    line-height: 1.6;
}

.content-section .member-list {
    margin-top: 64px;
    margin-bottom: 112px;
}

.member-list .member-item {
    float: left;
    width: 33.3333333%;
    text-align: center;
}

.member-item .image-member {
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;
}

.tour-date-content {
    background-color: black;
    width: 100%;
}

.tour-date-content .content-heading {
    padding-top: 90px;
    color: white;
}

.tour-date-content .sub-content-heading {
    color: white;
    opacity: 0.6;
}

.tour-date-content .list-date-tours {
    margin-top: 40px;
    background-color: white;
}

.list-date-tours .date-tour-item {
    padding: 11px 16px;
    color: rgba(0, 0, 0, 0.6);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.list-date-tours .sold-out {
    background-color: #f44336;
    color: white;
    padding: 3px 7px;
    margin-left: 16px;
}

.list-date-tours .number-tickets {
    float: right;
    margin-right: 16px;
    width: 24px;
    height: 24px;
    background-color: black;
    color: white;
    text-align: center;
    line-height: 24px;
    border-radius: 24px;
    margin-top: -2px;
}

#footer {

}
